/* github */
#main-wrap {
    padding : 10%;
    text-align: center;
    background : black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#login {
    background : #F87B08;
    color: white;
    text-decoration : none;
    padding: 1.5% 2%;
    width: 20%;
    margin: auto;
    border-radius: 25px;
    &:hover {
        cursor : pointer;
        opacity: 0.5;
    }
}

#halloween {
    width: 220px;
    margin: 30px auto;
}

#town-title {
    font-size: 35px;
    font-weight: 900;
    color : #F87B08;
}

/* sign-up */
#signup-wrap {
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 10%;
    align-items: center;
    background: black;
    color: #F87B08;
    font-size: 30px;
    font-weight: 900;
}

.icon-wrap {
    background: black;
    border: none;
    padding-top: 20px;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.arrow-icon {
    width: 35px;
}

#right {
    transform: rotate(180deg);
}

#carousel-wrap {
    justify-content: space-around;
    width: 100%;
    margin: 10% 0;
}

#avatar {
    height: 75px;
}

#signup {
    @extend #login;
    border: none;
    font-size: 15px;
    font-weight: 900;
    margin: 0;
}

#description {
    margin-top: 3%;
    font-size: 25px;
}